* {
    box-sizing: border-box;
}

#css-header {
    width: 100%;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 900;
}

h2 {
    margin: 40px 0px 20px;
}

h3 {
    font-style: italic;
    margin: 20px 0px 30px;
}

.margin-collapse {
    display: inline-block;
    width: 300px;
    height: 400px;
    float: none;
    margin-right: 30px;
}

#collapse {
    max-width: 300px;
}

.paragraph-up {
    position: relative;
    bottom: 70px;
}